@charset "UTF-8";

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background: #ff4a02;
  color: #8ED973;
  overflow-x: hidden;
}

/* header */
#site-header {
  width: 200px;
}

#site-logo {
  padding: 20px 0;
  text-align: center;
}
#site-logo img {
  width: 100px;
}

/* 名前 */
.midashi {
 font-family: 'Calibri', 'Segoe UI', Tahoma, sans-serif;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .name {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 30px;
  }
  .explanation {
    margin: 1px;
    white-space: nowrap;
    font-size: 17px;
    letter-spacing: 18px;
  }
  
/* center-navi */
.center-nav {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  z-index: 900;
}
.center-nav ul {
  display: flex;
  padding-left: 20px;
  list-style: none;
  font-family: "calibri";
}
.center-nav li {
  width: 100px;
  height: 85px;
}
.center-nav a {
  display: flex;
  width: 80px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.center-nav img {
  width: 50px;
  aspect-ratio: 1/1;
}

/* hamburger */
#menu-button {
  display: none;
  width: 30px;
  margin: 20px auto;
  cursor: pointer;
  z-index: 1000;
}
#menu-button span {
  display: block;
  height: 2px;
  background: #fff;
  margin: 6px 0;
  transition: .4s;
}

/* opne-hamburger */
#menu-button.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#menu-button.open span:nth-child(2) {
  opacity: 0;
}
#menu-button.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* ====only-sp==== */
@media (max-width: 900px) {

  #menu-button {
    display: block;
  }

  #site-nav {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .6);
  }

  #site-nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
  }
}


/* notice */
@media (min-width:700px) {
  .new-top {
    position: absolute;
    left: 100px;
    bottom: 40px;
    width: calc(100% - 300px);
    border-radius: 100px;
    display: flex;
    background: rgb(255, 232, 232, 0.1);
    padding: 0 1rem;
  }
  .new-top .text {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .new-top .more a {
    background: rgba(255, 232, 232, 0.1);
    color: rgba(255, 232, 232, 0.5);
    padding: 0 1rem;
    border-radius: 100px;
    text-decoration: none;
  }
}

/* SNS */
.icons {
  position: fixed;
  right: 10px;
  top: 10px;
  list-style: none;
}
.icons img {
  width: 20px;
}

/* slideshow（CSSのみ） */
#mainimg {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: slideShow 15s infinite;
  background-size: cover;
  background-position: center;
}

.slide1 {
  background-image: url(../images/back1.jpg);
  animation-delay: 0s;
}
.slide2 {
  background-image: url(../images/back2.jpg);
  animation-delay: 5s;
}
.slide3 {
  background-image: url(../images/back3.jpg);
  animation-delay: 10s;
}
.slide4 {
  background-image: url(../images/back4.jpg);
  animation-delay: 11s;
}

@keyframes slideShow {
  0% { opacity: 0; transform: scale(1); }
  10% { opacity: 1; transform: scale(1.1); }
  33% { opacity: 1; }
  43% { opacity: 0; }
  100% {opacity: 0; }
}

/* footer */
footer small {
  position: fixed;
  right: 5px;
  bottom: 60px;
  writing-mode: vertical-lr;
  opacity: .5;
}

/* page top */
.pagetop a {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, .2);
  color: #fff;
  text-decoration: none;
}